/*Style*/
body {
	background-color: #e8e8e8;
}
.wrapper {
	padding-top: 100px;
}

.heading{
	padding-bottom: 60px;
}

.thumbnail a>img,
.thumbnail>img {
	display: block;
	max-width: 100%;
	height: auto
}

.thumbnail {
	display: block;
	padding: 4px;
	margin-bottom: 20px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
}
	
.thumbnail:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.thumbnail a>img,
.thumbnail>img {
	margin-right: auto;
	margin-left: auto
}

.thumbnail>a {
	text-decoration: none;
}

.thumbnail .caption {
	padding: 9px;
	color: #333
}
