.marketing {
	margin-top: 100px;
}

.widget-heading {
	padding-bottom: 15px;
}

.post {
	padding: 20px;
	margin-bottom: 70px;
	border: 1px solid #ddd;
	border-radius: 4px;
	background-color: #fff;
}

.post-section {
	padding-bottom: 10px;
}

.post-text {
	font-size: 18px;
}

.post-footer {
	padding: 10px;
}

.post-footer > a {
		float: right;
	}

.fa-plus {
	padding-left: 10px;
}

a {
	color:  #5a5a5a;
}
a:hover {
	text-decoration: none;
	color: gray;
}
