/* GLOBAL STYLES
-------------------------------------------------- */


/* Padding below the footer and lighter body text */

body {
	padding-top: 3rem;
	padding-bottom: 3rem;
	color: #5a5a5a;
	background-color: #e8e8e8;
}

.dn {
	display: none;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */


/* Carousel base class */

.carousel {
	margin-bottom: 4rem;
}


/* Since positioning the image, we need to help out the caption */

.carousel-caption {
	z-index: 10;
	bottom: 3rem;
}


/* Declare heights because of positioning of img element */

.carousel-item {
	height: 32rem;
	background-color: #777;
}

.carousel-item>img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */


/* Center align the text within the three columns below the carousel */

.marketing .col-lg-4 {
	margin-bottom: 1.5rem;
	text-align: center;
}

.marketing h2 {
	font-weight: normal;
}

.marketing .col-lg-4 p {
	margin-right: .75rem;
	margin-left: .75rem;
}


/* FEATURETTES
------------------------- */

.featurette-divider {
	margin: 5rem 0;
	/* Space out the Bootstrap <hr> more */
}


/* Thin out the marketing headings */

.featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -.05rem;
}


/* HEADER */

.navbar-brand {
	font-family: 'Pacifico', cursive;
	font-size: 40px;
	margin-left: 20px;
	margin-right: 20px;
}

.nav-link {
	cursor: pointer;
}


/* THE NAVBAR
-------------------------------------------------- */


/* Special class on .container surrounding .navbar, used for positioning it into place. */

.navbar-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	margin-top: 20px;
	margin-bottom: -90px;
	/* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}

.navbar-wrapper .navbar {}


/* Remove border and change up box shadow for more contrast */

.navbar .navbar-inner {
	border: 0;
	-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
	box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
}


/* Downsize the brand/project name a bit */

.navbar .brand {
	padding: 14px 20px 16px;
	/* Increase vertical padding to match navbar links */
	font-size: 16px;
	font-weight: bold;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
}


/* Navbar links: increase padding for taller navbar */

.navbar .nav>li>a {
	padding: 15px 20px;
}


/* Offset the responsive button for proper vertical alignment */

.navbar .btn-navbar {
	margin-top: 10px;
}


/* Sign-up form */

.form-control {
	margin-bottom: 10px;
}
