/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

@media screen and (max-width: 480px) {
	.post-footer > a {
		display: inline-block;
		float: none;
		font-size: 12px;
	}
	.post-footer > span {
		display: none;
		text-align: center;
	}
	.post-text {
		font-size: 14px;
	}
}

@media print {
	header, footer, hr, .btn {
		display: none;	
	}
	.post {
		border: none;
	}
	body {
		font-family: sans-serif;
	}
}