a {
	color:  #5a5a5a;
}
a:hover {
	text-decoration: none;
	color: gray;
}

body {
	background-color: #e8e8e8;
}
.wrapper {
	padding-top: 100px;
}

.heading{
	padding-bottom: 60px;
}

.thumbnail a>img,
.thumbnail>img {
	display: block;
	max-width: 100%;
	height: auto
}

.thumbnail {
	display: block;
	padding: 4px;
	margin-bottom: 20px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.thumbnail a>img,
.thumbnail>img {
	margin-right: auto;
	margin-left: auto
}

.thumbnail>a {
	text-decoration: none;
}

.thumbnail .caption {
	padding: 9px;
	color: #333
}

.marketing {
	margin-top: 100px;
}

.post {
	padding: 20px;
	margin-bottom: 70px;
	border: 1px solid #ddd;
	border-radius: 4px;
	background-color: #fff;
}

.post-section {
	padding-bottom: 10px;
}

.post-text {
	font-size: 18px;
}

.post-footer {
	padding: 10px;
}

.post-footer > a {
		float: right;
	}

#md2html>p>img {
	width: 100%;
	height: auto
}

.comment{
	padding: 20px;
	border: 1px solid lightgray;
	border-radius: 3px;
	margin: 15px;
}

.comment-author{
	font-size: 14px;
	color: lightgray;
}

.new_comment{
	margin: 20px;
	margin-bottom: 60px;
}